.todos {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.todos__header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.todoInfo {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: stretch;
}

.todoInfo span {
  font-size: 12px;
}

.open {
  color: red;
}

.progress {
  color: blue;
}

.complete {
  color: green;
}

u {
  cursor: pointer;
}
