.todos {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.todos__header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.todoInfo {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: stretch;
}

.todoInfo span {
  font-size: 12px;
}

.open {
  color: red;
}
.openShadow {
  box-shadow: 5px 5px 5px rgba(255, 0, 0, 0.221);
}
.progress {
  color: blue;
}
.progressShadow {
  box-shadow: 5px 5px 5px rgba(0, 0, 255, 0.221);
}
.complete {
  color: green;
}
.completeShadow {
  box-shadow: 5px 5px 5px rgba(0, 128, 0, 0.221);
}
u {
  cursor: pointer;
}
